PORT
NODE_ENV
MONGO_URI
JWT_ACCESS_SECRET
JWT_REFRESH_SECRET
CLIENT_ID
CLIENT_SECRET
CORS_ORIGIN
REDIRECT_URI
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
CLOUDINARY_URL
VAPID_PRIVATE_KEY
VAPID_PUBLIC_KEY